<%!
from django.urls import reverse
from django.utils.translation import ugettext as _

from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>

<%inherit file="base.html" />
<%namespace name='static' file='static_content.html'/>
<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="head_extra">
    <link rel="stylesheet" type="text/css" href="/static/css/ReactToastify.css" />
</%block>

<%block name="header_extras">
    <link rel="stylesheet" type="text/css" href="${static.url('css/studio-main-v1.css')}" />
</%block>

<%block name="content">
    <div id="root" class="container">
    </div>
    <%static:webpack entry="Translations">
        var context = {
            "PLATFORM_NAME": "${platform_name | n, js_escaped_string}",
            "LOGIN_USER": "${login_user_username | n, js_escaped_string}",
        }
        new Translations(context);
    </%static:webpack>
</%block>
