## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>

<%!
from django.utils.translation import ugettext as _
%>
<div class="progress-content page-content-container">

  <header class="page-header has-secondary">
    <div class="page-header-main">
      <nav aria-label="Course Outline" class="sr-is-focusable" tabindex="-1">
        <h2 class="hd hd-3 page-title">${data.get('display_name')}</h2>
      </nav>
    </div>
  </header>
  <div class="page-content">
    <div class="page-content-main" id="main-progress">
      % for section in data.get('children', []):
      <div class="card section">
        <div class="card-body">
          <div class="head collapsed" data-toggle="collapse" data-target="#section_${section.get('block_id')}" aria-expanded="false" aria-controls="section_${section.get('block_id')}">
            <h2><span class="fa fa-caret-down arrow"></span><a href="${section.get('lms_web_url')}">${section.get('display_name')}</a></h2>
            <div class="head-info">
              <ul>
                <li>
                  <span class="value">${section.get('progress', '50%')}</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" style="width: ${section.get('progress', '50%')};"></div>
                  </div>
                  <strong class="title">Progress</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="collapse" id="section_${section.get('block_id')}" data-parent="#main-progress">
            <div class="slide">
              % for subsection in section.get('children', []):
                <div class="card subsection">
                  <div class="card-body">
                    <div class="head collapsed" data-toggle="collapse" data-target="#subsection_${subsection.get('block_id')}" aria-expanded="false" aria-controls="subsection_${subsection.get('block_id')}">
                      <h3><span class="fa fa-caret-down arrow"></span><a href="${subsection.get('lms_web_url')}">${subsection.get('display_name')}</a></h3>
                      <div class="head-info">
                        <ul>
                          <li>
                            <span class="value">${subsection.get('progress', '30%')}</span>
                            <div class="progress">
                              <div class="progress-bar bg-success" style="width: ${subsection.get('progress', '30%')}"></div>
                            </div>
                            <strong class="title">Progress</strong>
                          </li>
                          <li>
                            <span class="value">${subsection.get('format', 'Not graded')}</span>
                            <strong class="title">Assignment</strong>
                          </li>
                          <li>
                            <span class="value">${subsection.get('score')}</span>
                            <strong class="title">Score</strong>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="collapse" id="subsection_${subsection.get('block_id')}" data-parent="#section_${section.get('block_id')}">
                      <div class="units slide">
                        % for unit in subsection.get('children', []):
                        <div class="card unit">
                          <div class="card-header collapsed" data-toggle="collapse" data-target="#unit_${unit.get('block_id')}" aria-expanded="false" aria-controls="unit_${unit.get('block_id')}">
                            <h4><span class="fa fa-caret-down arrow"></span><a href="${unit.get('lms_web_url')}">${unit.get('display_name')}</a></h4>
                          </div>
                          <div class="slide collapse" id="unit_${unit.get('block_id')}" data-parent="#subsection_${subsection.get('block_id')}">
                            <div class="card-body">
                              <table class="table table-hover table-sm">
                                <thead>
                                  <tr class="table-primary">
                                    <th></th>
                                    <th>Completion</th>
                                    <th>Score</th>
                                    <th>Attempted</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  % for component in unit.get('children', []):
                                  <tr>
                                    <td><a href="${component.get('lms_web_url')}">${component.get('display_name')}</a></td>
                                    <td>${component.get('completion')}</td>
                                    <td>${component.get('score', '-')}</td>
                                    <td>${component.get('attempted', '-')}</td>
                                  </tr>
                                  % endfor
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        % endfor
                      </div>
                    </div>
                  </div>
                </div>
              % endfor
            </div>
          </div>
        </div>
      </div>
      % endfor
    </div>
  </div>
</div>
